#example .item img 
{
	display: block;
	width: 100%;
}

#example .owl-controls .owl-buttons .owl-prev,
#example .owl-controls .owl-buttons .owl-next
{
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top:50%;
}

#example .owl-controls .owl-buttons .owl-prev
{
	background: url('../img/icon_prev.gif');
}

#example .owl-controls .owl-buttons .owl-next
{
	background: url('../img/icon_next.gif');
	right: 0;
}